#search-page{
    text-align: center;
    padding-top: 50px;
}

#search-form {
    margin-top: 20px;
}

#search-form-input {
    width: 50%;
}

#city-weather-page{
    text-align: center;
    padding: 10px;
}

#city-weather-page #city_title_div {
    color: lightblue;

    position: relative;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
}

.selection-page-city-div {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    transition: box-shadow .3s;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}

.selection-page-city-div:hover {
    box-shadow: 0 0 10px black;;
}



.selection-page-city-div #selection-page-city-div-title {
    font-size: 20px;
}